<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" dir="{{ default `ltr` .Language.LanguageDirection }}">
    <head>
        {{- partial "head/head.html" . -}}
        {{- block "head" . -}}{{ end }}
        <!--<link rel="stylesheet" href="/tomorrow-night.css">-->
        <link rel="stylesheet" href="/highlight/styles/base16/eighties.css">
        <script src="/highlight/highlight.min.js"></script>
        <!--代码框加拷贝-->
        <script src="/clipboard.min.js"></script>
        <script src="/copy-to-clipboard.js"></script>
        <!--250227访问数-->
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
    </head>
    <body class="{{ block `body-class` . }}{{ end }}">
        {{- partial "head/colorScheme" . -}}

        {{/* The container is wider when there's any activated widget */}}
        {{- $hasWidget := false -}}
        {{- range .Site.Params.widgets -}}
            {{- if gt (len .) 0 -}}
                {{- $hasWidget = true -}}
            {{- end -}}
        {{- end -}}
        <div class="container main-container flex on-phone--column {{ if $hasWidget }}extended{{ else }}compact{{ end }}">
            {{- block "left-sidebar" . -}}
                {{ partial "sidebar/left.html" . }}
            {{- end -}}
            {{- block "right-sidebar" . -}}{{ end }}
            <main class="main full-width">
                {{- block "main" . }}{{- end }}
            </main>
        </div>
        {{ partial "footer/include.html" . }}
        
        <!--<script src="/rainbow-custom.min.js"></script>-->
        <!--<script>hljs.initHighlightingOnLoad();</script>-->
        <script>hljs.highlightAll();</script>
        
    </body>
</html>
