<div class="article-details">
    <!--
    {{ if .Params.categories }}
    <header class="article-category">
        {{ range (.GetTerms "categories") }}
            <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                {{ .LinkTitle }}
            </a>
        {{ end }}
    </header>
    {{ end }}
    -->

    <!--原分类替换为标签 winotmk 25.02.25-->
    <!--下载新SVG图标请看https://tabler.io/icons，然后放到/assets/icons-->

    <!-- 这种好像不行，效果不好
    {{ if .Params.tags }}
    <header>
        <div class="Winotmk_icon">
        {{ partial "helper/icon" "tag" }}
        </div>
        {{ partial "article/components/tags" . }}
    </header>
    {{ end }}
     -->
     {{ if .Params.tags }}
     <header class="article-category">
        <div class="Winotmk_icon">
            {{ partial "helper/icon" "tag" }}
        </div>
         {{ range (.GetTerms "tags") }}
             <a href="{{ .RelPermalink }}" {{ with .Params.style }}style="background-color: {{ .background }}; color: {{ .color }};"{{ end }}>
                 {{ .LinkTitle }}
             </a>
         {{ end }}
     </header>
     {{ end }}

    <div class="article-title-wrapper">
        <h2 class="article-title">
            <a href="{{ .RelPermalink }}">
                {{- .Title -}}
            </a>
        </h2>
    
        {{ with .Params.description }}
        <h3 class="article-subtitle">
            {{ . }}
        </h3>
        {{ end }}
    </div>

    {{ $showReadingTime := .Params.readingTime | default (.Site.Params.article.readingTime) }}
    {{ $showDate := not .Date.IsZero }}
    {{ $showFooter := or $showDate $showReadingTime }}
    {{ if $showFooter }}

    <!--250312添加判断，主要让links页面不显示字数统计等内容-->
    {{ if ne .Section "page" }}
    <footer class="article-time">
        {{ if $showDate }}
            <div>
                {{ partial "helper/icon" "date" }}
                <time class="article-time--published">
                    {{- .Date | time.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                </time>
            </div>
        {{ end }}

        {{ if $showReadingTime }}
            <div>
                {{ partial "helper/icon" "clock" }}
                <time class="article-time--reading">
                    {{ T "article.readingTime" .ReadingTime }}
                </time>
            </div>
        {{ end }}
        <!--字数统计 winotmk 25.02.27-->
        <div>
            {{ partial "helper/icon" "calculator" }}
            <time class="article-time--reading">
                <time class="article-time--reading">
                    字数: {{ .WordCount }}
                </time>
            </time>
        </div>
    </footer>
    {{ end }}

    {{ end }}

    {{ if .IsTranslated }}
        <footer class="article-translations">
            {{ partial "helper/icon" "language" }}
            <div>
                {{ range .Translations }}
                    <a href="{{ .Permalink }}" class="link">{{ .Language.LanguageName }}</a>
                {{ end }}
            </div>
        </footer>
    {{ end }}
</div>
